@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}
.app {
  background-color: #fff;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
}

header {
  width: 100%;
  display: flex;
  position: absolute;
  top: 40px;
  justify-content: center;
  align-items: center;
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
figure {
  margin: 0;
  z-index: 1000;
}
.links_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}
.link a {
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
  font-family: 'Fraunces', sans-serif;
  font-weight: bold;
  padding: 0 20px;
}
.link:nth-child(4) a {
  color: #000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
}
.link a:hover {
  background-color: #6fcfff;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
}
.menu_icon {
  display: none;
}

.introduction {
  height: 100vh;
  background-image: url('../public/images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, left;
  margin: 0;
}
.box-intro {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 5rem;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Fraunces', sans-serif;
  margin-bottom: 100px;
}
.presentation {
  width: 100%;
  margin: 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row-img {
  height: 500px;
  width: 50%;
  object-fit: contain;
  position: relative;
}
.row-item {
  box-sizing: border-box;
  width: 50%;
  padding: 0 70px;
  position: relative;
}
.row-item.no-pad {
  padding: 0;
}
.row-item figure {
  width: 100%;
}
.row p {
  color: #908d9b;
}
.presentation-description {
  position: absolute;
  bottom: 60px;
  z-index: 2000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.presentation-description p{
  max-width: 400px;
}
.presentation-description.graphic {
  color: hsl(167, 40%, 24%);
}
.presentation-description.graphic p {
  color: hsl(167, 40%, 24%);
}
.presentation-description.photography {
  color: hsl(198, 62%, 26%);
}
.presentation-description.photography p {
  color: hsl(198, 62%, 26%);
}
.learn-link {
  font-family: 'Fraunces', sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
  z-index: 4000;
}
.learn-link::after {
  content: ' ';
  display: block;
  position: relative;
  bottom: 8px;
  left: -5px;
  height: 8px;
  width: 115px;
  border-radius: 4px;
}
.learn-link.yellow::after {
  background-color: #fbf4b5;
}
.learn-link.yellow:hover::after {
  background-color: #fbd40a;
}
.learn-link.red::after {
  background-color: #f9dad5;
}
.learn-link.red:hover::after {
  background-color: #fe7969;
}
h2 {
  font-family: 'Fraunces', sans-serif;
  margin: 0;
}
h3{
  font-family: 'Fraunces', sans-serif;
  margin: 0;
  color: #A8ACAD;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}
.testimonials-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.testimonials-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-right: 15px;
}
.client-img img{
  border-radius: 50%;
}
.testimonial{
  color: #838388;
}
.client-name{
  font-family: 'Fraunces', sans-serif;
}
.client-role{
  font-size: 16px;
  color: #B7B5B6;
}
.gallery{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-img{
  position: relative;
  height: 450px;
  width: 100%;
  
}
footer{
  background-color: #90D4C5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
footer h3{
  color: #2C7466;
  text-transform: lowercase;
}
footer ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
footer a{
  text-decoration: none;
  color: #448879;
  margin-right: 15px;
}
footer a:hover{
  color: #fff;
  
}
@media (max-width: 1100px) {
  .box-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .menu_icon {
    display: block;
    z-index: 4000;
    cursor: pointer;
  }
  .logo {
    z-index: 4000;
  }
  .links_list {
    height: 50vh;
    position: fixed;
    display: none;
    top: 100px;
    z-index: 3000;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 2px;
    border-top-right-radius: 0;
    padding: 40px 0;
    transition: all 0.3s;
  }
  .links_list::before {
    content: ' ';
    display: block;
    position: absolute;
    top: -23px;
    right: 0;
    background-color: #fff;
    height: 23px;
    width: 23px;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
  }
  .links_list.responsive {
    display: flex;
    left: 20px;
    right: 20px;
  }
  .link a {
    padding: 0;
    margin: 0;
    color: #908d9b;
    font-family: 'Barlow', sans-serif;
  }
  .link:nth-child(4) a {
    color: #000;
    background-color: #fbd601;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
  }
  h1 {
    font-size: 4rem;
  }
  .row{
    flex-wrap: wrap;
  }
  .row-item{
    padding: 70px 20px;
    text-align: center;
    width: 100%;
  }
  .row.first-row{
    flex-direction: column-reverse;
  }
  .row-img{
    width: 100%;
  }
  .learn-link::after{
    left: 50%;
    transform: translate(-50%, 0)
  }
  .testimonials-box{
    flex-wrap: wrap;
  }
  .testimonials-item{
    margin-bottom: 35px;
  }
  .gallery{
    flex-wrap: wrap;
  }
  .gallery-img{
    height: 400px;
    width: 50%;
  }
}

@media (max-width: 530px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .gallery-img{
    height: 300px;
   
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
  }
  .gallery-img{
    height: 220px;
   
  }
}
